* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     outline: none;
}

body {
    height: 100vh;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}



.navbar {
    background-color: rgb(153, 102, 51);
    padding-top: 1%;
    padding-bottom: 1%;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-brand:hover {
    color: #ffffff !important;
}

.navbar-brand  {
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff !important;
}

.navbar-default .navbar-brand{
    color: white;
}

.navbar-default .navbar-nav li a{
    color: #D5D5D5;
    font-weight: 600;
    font-size: 1.2em;
    margin-left: 40px;
}

.navbar-default .navbar-nav li a:hover {
    color: #ffffff;
}

/* MODAL */
.modal-content{
    background-color: rgb(255, 255, 255);
}
.modal-header{
    border-bottom: 3px solid #000000;
}
.modal-body{
    padding-bottom: 0;
    text-align: center;
}
.modal-body i{
	font-size: 40px;
}
.modal-header, .modal-body h4{
    color: black;
}
.modal-footer{
    border-top: none;
}
.modal-footer .btn{
    background-color: #4a4a4a;
    color: white;
}

.center {
    padding: 40px;
}

.login-container {
    margin: 0 auto;
}

.login-container {
    background-color: burlywood;
    width: 43%;
    height: fit-content;
    padding: 30px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    border-radius: 10px;
}

.login-container .text {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.login-container form {
    margin-top: -20px;
}

.login-container form .data {
    height: 45px;
    width: 100%;
    margin: 40px 0; 
}

.login-container .close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 18px;
    cursor: pointer;
}

.login-container .close-btn:hover {
    color: saddlebrown;
}

form .data label {
    font-size: 18px;
}

form .data input {
    height: 100%;
    width: 100%;
    padding-left: 10px;
    font-size: 17px;
    border: 1px solid silver;
    border-radius: 5px;
}

form .data input:focus {
    border-color: saddlebrown;
    border-bottom-width: 5px;
    outline: none;
}

form .btn {
    margin: 30px 0;
    height: 45px;
    width: 100%;
    padding: 0;
}

form .btn .inner button {
    height: 100%;
    width: 100%;
    padding: 12px 0;
    background-color: rgb(153, 102, 51);
    color: #ffffff;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 1px;
    cursor: pointer;
}

form .btn .inner button:hover {
    background-color: saddlebrown;
}

form .forgot-pass a{
    text-decoration: none;
    color: firebrick;
}

form .forgot-pass a:hover {
    text-decoration: underline;
}

form .register-link {
    text-align: center;
    margin-top: 10px;
}

form .register-link a{
    color: firebrick;
    text-decoration: none;
}

form .register-link a:hover {
    text-decoration: underline;
}


    
form .option h2 {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    overflow: hidden;
    width: 100%;
}

form .option h2:before,
form .option h2:after {
    background-color: black;
    content: "";
    display: inline-block;
    height: 0.2px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

form .option h2:before {
    right: 0.5em;
    margin-left: -50%;
}

form .option h2:after {
    left: 0.5em;
    margin-right: -50%;
}

.option-social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fb-btn, .google-btn {
    font-size: 18px;
    padding: 15px;
    height: 70px;
    border-radius: 10px;
    width: calc((100% - 20px) / 2);
    box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
    border: none;
    margin: 20px auto;
}
    
.fb-btn {
    color: #fff;
    background-color: #3b5998;
    display: flex;
    justify-content: center;
    align-items: center;
}  

.fb-btn .facebook-icon {
    margin-right: 10px;
    font-size: 25px;
}

.google-btn {
    color: #555555;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.google-btn img {
    width: 30px;
    padding-top: 5px;
    margin-right: 10px;
    padding-bottom: 3px;
    display: flex;
}

.google-btn:hover {
    background-color: saddlebrown;
    color: #ffffff;
}

.fb-btn:hover {
    background-color: saddlebrown;
    color: #ffffff;
}

@media only screen and (max-width: 1063px) and (min-width: 801px){
    .option-social {
        display: inherit;
    }
    
    .fb-btn, .google-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}

@media only screen and (max-width: 800px) {
    .login-container {
        height: fit-content;
    }
    .option-social {
        display: inherit;
    }
    
    .fb-btn, .google-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    .fb-btn {
        margin-top: 40px;
    }

    .login-container {
        width: 90vw;
    }
    .center{
        padding: 10px;
    }    
}

.container{
    display: none;
    
}

.container .popup {
    text-align: center;
    background-color: burlywood;
    border-radius: 10px;
    padding: 30px 10px;
    width: 50%;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -55%);
}   

.container .popup .box {
    padding: 10px;
}

.container .popup h2 {
    font-size: 4vmin;
    font-weight: 600;
    letter-spacing: 2px;
}

.container .popup .box h4 {
    font-size: 3vmin;
    margin-top: 20px;
}

.container .popup .box input {
    padding: 10px;
    border: none;
    margin-top: 20px;
    height: 100%;
    width: 100%;
    padding-left: 10px;
    font-size: 17px;
    border: 1px solid silver;
    border-radius: 5px;
}

.container .popup .box input:focus {
    border-color: saddlebrown;
    border-bottom-width: 5px;
    outline: none;
}

.container .popup .box button {
    padding: 10px 24px;
    width: 100%;
    height: 50px;
    margin-top: 20px;
    background-color: rgb(153, 102, 51); 
    color: #ffffff;
    border-radius: 5px;
    border: none;
    font-size: 20px;
}

.container .popup .box button:hover {
    background-color: saddlebrown;
    
}

.container .final {
    display: flex;
    justify-content: flex-end;
    padding: 0 10px;
    margin-top: 20px;
}

.container .final button {
    padding: 10px 15px;
    margin-left: 5px;
    background-color:rgb(153, 102, 51);
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}

.container .final button:hover {
    background-color: saddlebrown;
    
}

@media only screen and (max-width: 800px) {
    .container .popup{
        width: 90vw;
    }
    .container h2{
        font-size: 7vmin;
    }
    .container .popup .box h4{
        font-size: 20px;
    }
}

@media only screen and (max-width: 600px) {
    .container .popup h2 {
        font-size: 5vmin;
    }
    
    .container .popup .box h4 {
        font-size: 4vmin;
    }
    
    .container .popup .box button, .container .final button {
        font-size: 15px;
    }
    .modal{
        top: 10%;
    }
}